// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.canvasIssue{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    @media(max-width: 800px){
        position: relative;
        left: initial;
        top: initial;
        transform: initial;
    }
}