$ft_height: 0;
$ft_height_mb: 0;


* {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0 auto;
    font-family: Arial,'微軟正黑體','Microsoft JhengHei',Verdana,Arial,Helvetica,sans-serif,'STHeiti Light','Microsoft Yahei','Microsoft JhengHei','新細明體';
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0 auto;
}
.fb-root {
    height: 0;
    overflow: hidden;
}

.l-container{ 
    margin: 0 auto;
    width: 750px;
    position: relative;
}

.l-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
}

.l-main{
    padding-bottom: $ft_height;
}

.l-footer {
    background: rgba(178,32,2,0.6);
    position: relative;
    overflow: hidden;
    margin-top: -$ft_height;
    height: $ft_height;
    line-height: $ft_height; 
}

.l-fb{
    position: relative;
    height: 0;
    .fb-box{
        background: transparent;
        color: #ffffff;
        height: 20px;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
    }
}


.l-vm {
    //使用的時後，請給l-vm層定義高度
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }
    &__content {
        display: inline-block;
        vertical-align: middle;
        padding-left: -0.07em; 
    }
}